/*================GERAL============================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(170, 100%, 26%);
  --secondary-color-headline: hsl(210, 11%, 15%);
  --secondary-color-paragraph: hsla(210, 11%, 15%, 1);
  --brand-beige: hsla(39, 100%, 97%, 1);
  --brand-green: hsla(148, 23%, 89%, 1);
  --bg-ligth: hsla(180, 14%, 97%, 1);

  --nav-height: 7.2rem;

  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;
  background-color: var(--bg-ligth);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  line-height: 150%;
}

section header h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--secondary-color-headline);
}

section header h1 {
  line-height: 130%;
  font-size: 3.4rem;
  color: var(--secondary-color-headline);
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--secondary-color-paragraph);
}

section {
  padding-block: 10rem;
}

/*================NAVIGATION============================*/

nav {
  display: flex;

  height: var(--nav-height);
  position: fixed;
  width: 100vw;
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-color);
  width: 100vw;
}

nav.scroll .logo path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*================MENU-EXPANDED=========================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0%);
}

body.menu-expanded nav {
  position: relative;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.menu .button {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);
  background-color: #fff;

  padding: 1.6rem 3.2rem;
  border-radius: 4rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;

  display: inline-block;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*================HEADER============================*/

#home::before {
  content: ' ';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-green);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h1 {
  margin-bottom: 2.4rem;
}

#home p {
  font-size: 1.8rem;
  color: var(--secondary-color-paragraph);
  line-height: 150%;
  margin-bottom: 3.2rem;
}

#home button {
  background-color: var(--primary-color);

  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  height: 6.2rem;
  width: 26.3rem;

  border-radius: 4rem;
  color: #fff;

  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

#home img {
  width: 32.7rem;
}

#home .stats {
  background: var(--brand-beige);

  border: solid 1px var(--brand-green);

  width: 32.7rem;
  height: 47rem;

  margin-left: auto;
  margin-right: auto;

  border-radius: 0.6rem;

  position: relative;
  bottom: 2.4rem;
}

#home .stats p {
  font-size: 1.6rem;
  color: var(--primary-color);
  line-height: 150%;
}

#home .stats h3 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 130%;
  margin-bottom: 0.4rem;
}

#home .s1 {
  padding-top: 4rem;
}

#home .s2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#home .s3 {
  padding-bottom: 4rem;
}

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

/*================HEADER============================*/

#services header h4 {
  margin-bottom: 6rem;
}

#services .cards {
  margin-top: 6rem;
}

#services .card {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  text-align: start;
  background-color: #fff;
  border-radius: 0.6rem;
  border: 1px solid var(--brand-green);
  margin-bottom: 3.2rem;
}

/*================ABOUT============================*/

#about {
  text-align: start;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}
